/* ---- ALL ---- */

:root {
    --black: #424242;
    --grey: #E7EBEE;
    --cream: #FEFBEA;
    --pink: #f94c57;
    --red: #fc3c44;
    --white: #F9F6EE;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--grey);
}

/* ---- CONTAINER ---- */

.container {
    display: flex;
    margin: 5rem auto;
    padding: 3rem;
    min-height: 80vh;
    max-height: 80vh;
    width: 80%;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    overflow: hidden !important;
}

.container h2 {
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    color: var(--cream);
    font-size: 2.1rem;
    letter-spacing: 1px;
}

.container p {
    color: var(--white);
    font-size: .8rem;
    text-align: center;
    width: 90%;
    padding: 1rem;
    margin-left: 1rem;
}

.main-left {
    background-color: var(--pink);
    width: 40%;
    height: 30rem;
    border-radius: 15px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.app {
    position: relative;
    height: 22rem;
    width: 22rem;
    padding: 2rem;
    margin-bottom: 6rem !important;
}


/* PRICE COLUMNS */

ul {
    list-style-type: none;
}

.price-area {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem !important;
}

.price-area h2 {
    text-align: left;
    color: var(--black) !important;
    border-bottom: 2px solid var(--black);
    width: 10%;
}

/* ---- COLUMN 1 ----  */
.price-column1 {
    background-color: var(--grey);
}

/* ---- COLUMN 2 ---- */
.price-column2 {
    background-color: var(--pink);
    color: var(--grey);
}

.price-column2 h2 {
    color: var(--grey) !important;
    border-bottom: 2px solid var(--white);
    width: 10%;
}


/* ---- BOTH COLUMNS ---- */
.price-column1,
.price-column2 {
    font-size: .7rem;
   width: 50%;
   padding: 2rem;
   border-radius: 15px;
   text-align: left;
}

.price-column1 h2,
.price-column2 h2 {
    margin: -.5rem 0 1.3rem -.98rem;
}

.price-column1 h4,
.price-column2 h4 {
    margin-bottom: 1rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 80rem) {
    .container {
        padding: 1rem;
    }
    .container h2 {
        font-size: 1rem;
        margin: 0 auto;
    }
    .container p {
        text-align: center;
        margin: 0 auto;
    }
    .container .app {
        opacity: 0;
    }
}

@media screen and (max-width: 60rem) {
    .container {
        padding: 1rem;
    }
    .container h2 {
        font-size: 1rem;
        margin: 0 auto;
    }
    .container p {
        text-align: center;
        margin: 0 auto;
    }
}