/* ---- ALL ---- */

:root {
    --black: #424242;
    --grey: #E7EBEE;
    --cream: #FEFBEA;
    --pink: #f94c57;
    --red: #fc3c44;
    --white: #F9F6EE;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--grey);
}

/* ---- CONTAINER ---- */

.container {
    display: flex;
    margin: 6.5rem auto;
    padding: 3rem;
    min-height: 70vh;
    width: 50%;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}

.container h2 {
    
}

